@charset "utf-8";
/* CSS Document */

.headrow
{
	height:90px;
	background: #000;
	color:#FFF;
}
.headrowmenu
{
	background: #000;
	color:#FFF;
}
.confirt
{
	padding-top:10px;
	
	
}
.pilledit
{
	padding-top:4px;	
}
.headslider
{
	background:#DD4814;
	
}
.extrafooter
{
	background: #000;
	height:80px;
	padding-top:10px;
	color:#FFF;
	
}
.thumback
{
	background:#99F;
	
}
.thumcon
{
	padding-top:20px;
	
}
.extaaccor
{
	background: #EDEDED;
	padding-top:20px;	
}
.extralit
{
	background: #1A3867;
	padding-top:20px;	
}
.leftsocail
{
	width:32px;
	height:32px;
	margin-left:5px;
	float:left;
	
}
.excontr
{
	background:#1A3867;
}
.box
{
	border: 1px solid #999;
	padding:5px;
	border-radius:5px;
	margin-bottom:10px;
	font-family: Verdana, Geneva, sans-serif;
	
	}
.marketing .col-lg-4
{
text-align: center;
}